ion-img{ text-align: center;
    img{ border-radius: 30%; }
}
p{ font-size: 4vw; text-align: center;}
.personal_img{ border-radius: 50%; }
ion-fab-button{ height: 54px; width: 54px; font-size: xx-large; }

ion-item{
    ion-icon{ color: #c8c8c8; }
    ion-label{
        //color: #138e85;
        color: var(--pers-list-subtitle);
        font-family: calibri;
        font-size: 15pt;
        font-weight: 400;
    }
}
   
.item ion-thumbnail {
    min-width: 65px;    
    min-height: 65px;
    margin:10px 10px 10px -6px;
    ion-img {
        max-width: 100% !important;    
        max-height: 100% !important;
    }
}

ion-card{ border-radius: 12px; border:1px solid transparent; }
ion-card:active{ border:1px solid var(--pers-list-subtitle); }
ion-card:active>ion-item ion-icon{ color:var(--pers-list-subtitle); }
ion-card-title{text-align: center;}
ion-card-subtitle{
    margin-bottom: 0px;
    font-family: calibri;
    font-size: 11pt;
    color: var(--pers-list-subtitle-P);
}