
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button><ion-icon name="menu"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button style="height: 50px; width:50px; background:transparent;"></ion-button>

        </ion-buttons>
        <ion-searchbar placeholder="Personeller'de Ara"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="personel_list_content" padding="true" class="has-header">
  
<ion-fab edge vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPage()">
        <ion-icon ios="ios-add" md="md-add" style="font-size: 30pt"></ion-icon> 
      </ion-fab-button>
</ion-fab>  

    <div id="personeller-container6">

        <ion-card (click)="openModal(Personel)" *ngFor="let Personel of Personels">
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <ion-img class="personal_img" src="{{this.helper.SITE_URL}}{{Personel.PersonelFotograflari.ProfilFoto}}"></ion-img>
                </ion-thumbnail>
              <ion-label>{{Personel.PersonalInfo.Ad}} {{Personel.PersonalInfo.Soyad}}<ion-card-subtitle>{{Personel.Role.RoleName}}</ion-card-subtitle></ion-label>
              <ion-icon size="small" name="arrow-forward"></ion-icon>
            </ion-item>
          </ion-card>  
            
    </div>
</ion-content>
