<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="closeModal()">Geri</ion-button>
          </ion-buttons>
    <ion-title>{{SirketAdi}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #myForm="ngForm" (ngSubmit)="this.KayitOl()">
    <ion-item>
      <ion-label position="stacked">Adı</ion-label>
      <ion-input [(ngModel)]="Sirket.Ad" name="ad" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Yetkilisi</ion-label>
      <ion-select [(ngModel)]="Sirket.Yetkili" [placeholder]="Sirket.Yetkili.PersonalInfo.Ad + ' ' + Sirket.Yetkili.PersonalInfo.Soyad" name="yetkili"  required name="yetkili">
        <ion-select-option *ngFor="let yetkili of YetkiliList" [value]=yetkili>{{yetkili.PersonalInfo.Ad}} {{yetkili.PersonalInfo.Soyad}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Logosu</ion-label>
      <ion-img #Logo [src]="this.helper.blankImage" (click)="this.changeImage(Logo,'Logo')"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Şirket Adresi</ion-label>
      <ion-input [(ngModel)]="Sirket.Adresi" required name="adres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email Adresi</ion-label>
      <ion-input [(ngModel)]="Sirket.Email" required name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefon Numarası</ion-label>
      <ion-input [(ngModel)]="Sirket.Telefon" required name="telefon"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">B2D2Belge Numarası</ion-label>
      <ion-input [(ngModel)]="Sirket.B2D2BelgeNo" required name="b2d2no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">B2D2 Ticari Ünvanı</ion-label>
      <ion-input [(ngModel)]="Sirket.B2D2TicariUnvani" required name="b2d2unvan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Vergi Dairesi</ion-label>
      <ion-input [(ngModel)]="Sirket.VergiDairesi" required name="vergidairesi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Vergi Numarası</ion-label>
      <ion-input [(ngModel)]="Sirket.VergiNo" required name="vergino"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Iban Sahibi</ion-label>
      <ion-input [(ngModel)]="Sirket.IbanSahibi" required name="ibansahibi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Iban Numarası</ion-label>
      <ion-input [(ngModel)]="Sirket.IbanNo" required name="ibanno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Seyahat Acentesi Ünvanı</ion-label>
      <ion-input [(ngModel)]="Sirket.SeyahatAcentasiUnvani" required name="acenteunvani"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Seyahat Acentesi Numarası</ion-label>
      <ion-input [(ngModel)]="Sirket.SeyahatAcentasiNo" required name="acenteno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">UETDS Kullanıcı Adı</ion-label>
      <ion-input [(ngModel)]="Sirket.UETDSAdi" required name="uetdsid"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">UETDS Şifresi</ion-label>
      <ion-input [(ngModel)]="Sirket.UETDSSifre" required name="uetdssifre"></ion-input>
    </ion-item>
    <ion-button>Kayıt Ol</ion-button>
    </form>
  </ion-content>