<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="menu"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #e31e27">Personel Kayıt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--  <ion-fab edge vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="addPage()">
            <ion-icon style="font-size:60px;" ios="ios-checkmark" md="md-checkmark"></ion-icon>
          </ion-fab-button>
    </ion-fab>   -->

  <form #myForm="ngForm" (ngSubmit)="this.KayitOl()">
    <ion-item lines="none" style="text-align: center;"><ion-label>Profil Fotoğrafı</ion-label></ion-item>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col col-auto>
          <ion-item class="img-item " lines="none">
            <!--      <p class="img_label">Profil Fotoğrafı</p>  -->
            <ion-img #ProfilFoto [src]="this.helper.blankImage" (click)="this.changeImage(ProfilFoto,'ProfilFoto')" name="pp"></ion-img>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <!-- <ion-label position="stacked"><pre> Adı :</pre></ion-label> -->
      <ion-label position="stacked">Adı</ion-label>
      <ion-input [(ngModel)]="Personel.Adi" required name="ad"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Soyadı</ion-label>
      <ion-input [(ngModel)]="Personel.Soyadi" required name="soyad"></ion-input>
    </ion-item>

    <ion-grid id="uyruk_kimlik" no-padding>
      <ion-row>
        <ion-col no-padding>
          <ion-item lines="none">
            <ion-label position="stacked">Uyruğu</ion-label>
            <ion-input [(ngModel)]="Personel.Uyrugu" required name="uyruk"></ion-input>
          </ion-item >
      </ion-col>

      <ion-col no-padding>
          <ion-item lines="none" style="min-width: 200px;">
            <ion-label position="stacked">Kimlik Numarası</ion-label>
            <ion-input [(ngModel)]="Personel.KimlikNo" maxlength=11 minlength=11 required name="kimlik"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding>
        <ion-row>
          <ion-col no-padding>
              <ion-item lines="none">
                  <ion-label position="stacked">Cinsiyeti</ion-label>
                  <ion-select [(ngModel)]="Personel.Cinsiyet" name="cinsiyet" value="Erkek">
                    <ion-select-option value="E">Erkek</ion-select-option>
                    <ion-select-option value="K">Kadın</ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
  
          <ion-col no-padding>
              <ion-item lines="none" style="min-width: 200px;">
                  <ion-label position="stacked">Personel Türü</ion-label>
                  <ion-select [(ngModel)]="RoleString" value="Şoför" name="tur">
                    <ion-select-option value="Şoför">Şoför</ion-select-option>
                    <ion-select-option value="Yönetici">Yönetici</ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item lines="none" display="inline-block">
      <ion-label position="stacked">Şifresi</ion-label>
      <ion-input [(ngModel)]="Personel.Sifre" type="password" required name="sifre"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Telefon Numarası</ion-label>
      <ion-input [(ngModel)]="Personel.Telefon" required name="telefon"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Email Adresi</ion-label>
      <ion-input [(ngModel)]="Personel.Email" type="email" required name="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Konuştuğu Diller</ion-label>
      <ion-select multiple="true" [(ngModel)]="PersonelDil" name="diller" required>
          <ion-select-option *ngFor="let dil of DilListesi" value="{{dil.ID}}">{{dil.Dil}}</ion-select-option>
        </ion-select>
    </ion-item>

    <!--   <ion-item style="text-align: center; margin-bottom:20px;">
        <ion-label>
          Personel Belgeleri
        </ion-label>
          <p></p>
    </ion-item> -->



    <ion-grid no-padding style="padding-top: 14px;">
      <ion-row>
        <ion-col class="Doc_Label">
          <ion-label> Ehliyet Fotoğrafı</ion-label>
        </ion-col>
        <ion-col class="Doc_Label">
          <ion-label> SRC Belgesi</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
            <ion-item class="img-item" lines="none">
                <!-- <p class="img_label">Ehliyet Fotoğrafı</p> -->
              <ion-img #Ehliyet [src]="this.helper.blankImage" (click)="this.changeImage(Ehliyet,'Ehliyet')" name="ehliyet"></ion-img>
            </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item class="img-item" lines="none">
                <!-- <p class="img_label">Src Belgesi</p> -->
              <ion-img #SrcBelgesi [src]="this.helper.blankImage" (click)="this.changeImage(SrcBelgesi,'SrcBelgesi')" name="src"></ion-img>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid no-padding>
      <ion-row>
        <ion-col class="Doc_Label">
          <ion-label>Psikoteknik</ion-label>
        </ion-col>
        <ion-col class="Doc_Label">
          <ion-label>Sabıka Kaydı</ion-label>
        </ion-col>
      </ion-row>    
      <ion-row>
        <ion-col size="6">
            <ion-item class="img-item" lines="none">
                <!-- <p class="img_label">Psikoteknik Belgesi</p> -->
              <ion-img #Psikoteknik [src]="this.helper.blankImage" (click)="this.changeImage(Psikoteknik,'Psikoteknik')" name="psiko"></ion-img>
            </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item class="img-item" lines="none">
                <!-- <p class="img_label">Sabıka Kaydı</p> -->
              <ion-img #SabikaKaydi [src]="this.helper.blankImage" (click)="this.changeImage(SabikaKaydi,'SabikaKaydi')" name="sabika"></ion-img>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="Save_Bt" [disabled]="!myForm.form.valid" type="submit" expand="block" name="submit">Kaydet</ion-button>
  </form>
</ion-content>