.img_label{width: 50vw;font-size:3.3vw;}

.select-icon-inner{
  padding-right: 5px !important;
  margin-left : -7px !important;
}

ion-grid ion-item{ 
  width: fit-content; 
  margin: auto; }

ion-thumbnail{
  height: fit-content;
  width: fit-content;
  }
