<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Araç Kayıt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="arac_kayit_page_content" padding>
  <form #myForm="ngForm" (ngSubmit)="this.AracKaydet()">

    <ion-item lines="none" style="text-align: center;"><ion-label>Önden Görünüş</ion-label></ion-item>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col col-auto>
          <ion-item class="img-item " lines="none">
            <ion-thumbnail>
              <ion-img #On [src]="this.helper.blankImage" (click)="this.changeImage(On,'On')"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
<div>
    <ion-item lines="none">
      <ion-label position="stacked">Plakası :</ion-label>
      <ion-input [(ngModel)]="Arac.AracInfo.Plaka" name="Plaka" required></ion-input>
    </ion-item>

    <ion-item style="width: 50%; float:left;" lines="none">
      <ion-label position="stacked">Markası :</ion-label>
      <ion-input [(ngModel)]="Arac.AracInfo.Marka" name="marka" required></ion-input>
    </ion-item>

    <ion-item style="width: 50%; float:right;" lines="none">
      <ion-label position="stacked">Modeli :</ion-label>
      <ion-input [(ngModel)]="Arac.AracInfo.Model" name="model" required></ion-input>
    </ion-item>

    <ion-item lines="none" style="width: 50%; float:left;">
        <ion-label position="stacked">Araç Yılı :</ion-label>
        <ion-input [(ngModel)]="Arac.AracInfo.Yili" name="yili" required></ion-input>
    </ion-item>
      
    <ion-item lines="none" style="width: 50%; float:right;">
      <ion-label position="stacked">Yakıtı :</ion-label>
      <ion-select [(ngModel)]="Arac.AracInfo.Yakit" name="yakit" required>
        <ion-select-option value="Benzin">Benzin</ion-select-option>
        <ion-select-option value="Dizel">Dizel</ion-select-option>
        <ion-select-option value="Hybrid">Hybrid</ion-select-option>
        <ion-select-option value="Elektrikli">Elektrikli</ion-select-option>
      </ion-select>
    </ion-item>    

    <ion-item lines="none">
      <ion-label position="stacked">Araç Türü :</ion-label>
      <ion-select [(ngModel)]="Arac.AracInfo.Turu" name="tur" required>
        <ion-select-option value="VIP">VIP(9 Koltuk)</ion-select-option>
        <ion-select-option value="MINI">MINI(19 Koltuk)</ion-select-option>
        <ion-select-option value="MIDI">MIDI(31 Koltuk)</ion-select-option>
        <ion-select-option value="BUS">BUS(54 Koltuk)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="stacked">Araç Özellikleri</ion-label>
      <ion-select [(ngModel)]="this.AracOzellikleri" name="aracozellikleri" multiple="true">
        <ng-container *ngFor="let property of AracKeys">
          <ng-container *ngIf="property=='CocukKoltugu'; else elseTemplate">
        <ion-select-option value="property">Çocuk Koltuğu</ion-select-option>
          </ng-container>
          <ng-template #elseTemplate>
              <ion-select-option value="{{property}}">{{property}}</ion-select-option>
          </ng-template>
      </ng-container>
      </ion-select>
    </ion-item>
  </div>
    <ion-grid no-padding style="padding-top: 14px;">
        <ion-row>
          <ion-col class="Doc_Label">
            <ion-label>İç Mekan Görünüş</ion-label>
          </ion-col>
          <ion-col class="Doc_Label">
            <ion-label>Arkadan Görünüş</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <!-- <p class="img_label">Önden Görünüş</p> -->
              <ion-thumbnail>
                <ion-img #IcMekan [src]="this.helper.blankImage" (click)="this.changeImage(IcMekan,'IcMekan')"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <!-- <p class="img_label">Arkadan Görünüş</p> -->
              <ion-thumbnail>
                <ion-img #Arka [src]="this.helper.blankImage" (click)="this.changeImage(Arka,'Arka')"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="Doc_Label">
            <ion-label>Sağdan Görünüş</ion-label>
          </ion-col>
          <ion-col class="Doc_Label">
            <ion-label>Soldan Görünüş</ion-label>
          </ion-col>
        </ion-row>  
        
        <ion-row>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <!-- <p class="img_label">Sağdan Görünüş</p> -->
              <ion-thumbnail>
                <ion-img #Sag [src]="this.helper.blankImage" (click)="this.changeImage(Sag,'Sag')"></ion-img>
              </ion-thumbnail>  
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <ion-thumbnail>
                <!-- <p class="img_label">Soldan Görünüş</p> -->
                <ion-img #Sol [src]="this.helper.blankImage" (click)="this.changeImage(Sol,'Sol')"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-col>
        </ion-row>
  
    
        <ion-row>
          <ion-col class="Doc_Label">
            <ion-label>Sigorta Poliçesi</ion-label>
          </ion-col>
          <ion-col class="Doc_Label">
            <ion-label>Ruhsatı</ion-label>
          </ion-col>
        </ion-row>   
    
        <ion-row>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <!-- <p class="img_label">Psikoteknik Belgesi</p> -->
              <ion-thumbnail>
                <ion-img #SigortaPolice [src]="this.helper.blankImage" (click)="this.changeImage(SigortaPolice,'SigortaPolice')"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="img-item" lines="none">
              <!-- <p class="img_label">Sabıka Kaydı</p> -->
              <ion-thumbnail>
                <ion-img #Ruhsat [src]="this.helper.blankImage" (click)="this.changeImage(Ruhsat,'Ruhsat')"></ion-img>
              </ion-thumbnail>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    <ion-button class="Save_Bt" [disabled]="!myForm.form.valid" type="submit" expand="block" name="submit">Kaydet</ion-button>

  </form>
</ion-content>