// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header{box-shadow: 0 3px 3px 0px #ededed;}
ion-img{height: 100px;width: 100px;float:left;}
ion-card-title{margin-top: -3px;}

.half-input {width: 49%;  }
.full-input {width: 100%; }
.float-left {float: left; }
.float-right{float: right;}
.half-image {width: 46%;  }
.border-box {border: 1px solid black; }
.select-box {height: 100%; }
.profile {padding-top: 10%; }
.list-card h2assertive {float: right; padding-top: 10% !important; }
.half-card {width: 46%; }

ion-searchbar ion-icon,ion-menu-button{ color: var(--color-primary) !important; } 

ion-menu-toggle{
    --background:#ffffff;
      ion-icon{ color: var(--color-primary) !important; padding:5px; background:#f1f1f1; border-radius: 50%;}  
      ion-item{margin:15px auto; --background:transparent;}
        }

ion-menu {
    --ion-background-color: var(--ion-color-primary-contrast);
    --ion-text-color: grey;
      ion-content{ --ion-background-color:#ffffff !important; }
      ion-toolbar { --ion-background-color: var(--ion-color-primary-contrast); }
      ion-list { background: transparent; }
  }

ion-menu-button{    
    height: 40px;
      ion-icon{
        padding: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: #fafafa;
     }
    } 
.searchbar-input-container,.sc-ion-searchbar-ios{
    //border-radius: 20px;
    border-radius: var(--input-border-radius) !important;
    height: 40px !important; }
    ::placeholder{ 
      text-align: center; 
      font-size: 16px; 
      font-weight: 700; }

.Back_Bt {
    width: 40px;
    height: 40px;
    --background: #c8c8c8;
    ion-icon{font-size:30pt;}
    }


.Save_Bt{
    margin:24px 10px;
    --background:var(--button-color);
    --background-activated:lightgray;
    --border-radius:var(--input-border-radius);
}

.Doc_Label,.PK_Doc_Label{
    text-align: center;
    font-weight: bold;
    font-size: 12.5pt;
    font-family: 'Calibri';
}
.Doc_Label   {color: var(--color-primary);}
.PK_Doc_Label{color: var(--pers-list-subtitle);}

ion-grid{
  ion-img{
    height:140px;
    width: 140px;
    border:2px dashed lightgray;
    border-radius:var(--image-border-radius); 
  }
}

ion-fab-button{
    --background:var(--fab-button-color);
    --background-activated:#b6b6b6 !important;
}

//-----------------------------------------------

#personel_save_page_content,
#personel_bilgi_page_content,
#arac_kayit_page_content,
#arac_bilgi_page_content,
#sefer-ekle_content,
#yolcu_kaydet_page_content{  
ion-item{text-align: center; --padding-start: 8px; }
div ion-label{ left: var(--input-label-left ); }
ion-item ion-label{
    color: var(--pers-list-subtitle);
    font-size: 12.5pt;
    padding: 0px 7px;
    font-weight: bold;
    font-family: 'Calibri';
    position: relative;
    top: 13px;
    background: #ffffff;
    z-index: 3;
    width: fit-content;
    border-radius: var(--input-label-border-radius);
    margin-top: 0px;
    align-self: var(--input-label-align);
    margin-right: 0px;
  }
  
ion-input,ion-select,ion-datetime {
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    padding-left: 8px !important;
    min-height: 45px;
    align-items:center;
    background: var(--input-background);
    }
    ion-datetime{    min-height: unset;}

  ion-grid ion-item{
    width: fit-content;
    margin: auto;
      }
  
  ion-thumbnail{
    height: fit-content;
    width: fit-content;
    }
}

//-----------------------------------------------

#menu_profile_photo{
    width: 120px;
    height: 120px;
    margin:20px;
}

.sss{
    --background:#ffffff;
    ion-icon{ color: var(--color-primary) !important; padding:5px; background:#f1f1f1; border-radius: 50%;}  
    ion-item{margin:15px auto; --background:transparent;}
    border-top:1px solid #f1f1f1;
    padding-top:10px;
}

ion-title,.general_title{
    color: #9a9a9a !important;
    font-size: 16pt;
    font-family: calibri;
}
.general_title{font-size: 18pt;}

.SirketStyle{
    --background:#ffffff;
    ion-icon{ color: var(--color-primary) !important; padding:5px; background:#f1f1f1; border-radius: 50%;}  
    ion-item{margin:15px auto; --background:transparent;}
}

//---------------------------------------------------------------

// #760078 Personel Bilgileri Label rengi
//Yeni Tema Rengi Fab: --background: linear-gradient(0.40turn,#a5ffff, #2ea2a2);

.swiper-pagination{position: relative !important; bottom: 0px; top: 4px;}

.ayarlar_page_content{
  .item-native {
    padding-left: 8px;
  }
}

//------------------Anasayfa---ActionSheet-----------------------
.action-sheet-group.sc-ion-action-sheet-ios {border-radius: var(--image-border-radius);}
#seferEkleSecenek{
  .action-sheet-group.sc-ion-action-sheet-ios:last-child  { margin-bottom: auto ; }
  .action-sheet-group.sc-ion-action-sheet-ios:first-child { margin-top: 60px ; }
  .action-sheet-button.sc-ion-action-sheet-ios:not(:last-child) { border-bottom: 1px solid #f1f1f1;}
  .action-sheet-button.sc-ion-action-sheet-ios:last-child { border-top: 2px solid #f1f1f1; }
}

button.action-sheet-button.ion-activatable.action-sheet-.sc-ion-action-sheet-ios:not(:first-child){
  border-top: 1px solid #f1f1f1;
}


.action-sheet-title.sc-ion-action-sheet-ios{
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid #f1f1f1;
    margin-left: 10px;
    margin-right: 10px;
}

.action-sheet-button.sc-ion-action-sheet-ios{
  padding-top: 16px;
  padding-bottom: 16px;
  height: 60px;
}

// .action-sheet-button.sc-ion-action-sheet-ios:last-child { border-top: 1px solid #f1f1f1; }

.action-sheet-button-inner.sc-ion-action-sheet-ios{
    display: grid ;
    grid-template-columns: auto 1fr ;
    font-size: 14pt;
  }
//---------------------------------------------------------------
.alert-title.sc-ion-alert-ios{    
  color: #9a9a9a !important;
  font-size: 14pt;
  font-family: calibri;
}

.alert-tappable.sc-ion-alert-ios{
  border-bottom: 1px solid #f1f1f1;
}
  .alert-tappable.sc-ion-alert-ios:last-child{
    border-bottom: none;
  }

 //---------------------------------------------------------------
 .picker-opt{
   font-size: 26px;
   color: var(--color-primary);
 } 
//----------------------------------------------------------------
#personel_list_content,
#arac_list_content,
#ayarlar_page_content,
#anasayfa_content{ion-card{border-radius:var(--image-border-radius);}}


#sefer_istekleri_content,#yolculuklarim_page_content{
  .history_item{
    //--background:#f1f1f1;
    --background:#dbdbdb;
    --border-radius: var(--input-border-radius);
    --min-height:25px;
    color: #8a8a8a;
    font-weight: bold;
    font-family: calibri;
    margin-top:15px;
  }

  .sefer_item{
    margin-top: 15px;
    --background: #f1f1f1;
    overflow: initial;
    --border-radius: var(--image-border-radius);
    ion-label{ color:#6c6c6c; }
    ion-row.hydrated:not(:last-child) { margin-bottom: 5px; }
}:active{--background:#b3b3b3;}

.B_icon{
  padding:3px;
  border-radius: 50%;
  background: white;
  color: var(--color-primary);
  margin-left: 5px;
  margin-right: 10px;
}
} 

#sefer_detay{
  .action-sheet-group.sc-ion-action-sheet-ios:last-child  {margin-bottom: auto;}
  .action-sheet-group.sc-ion-action-sheet-ios:first-child {margin-top: auto;   }
}
