<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Yolcu Kaydı
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
          <p>Barkod Tarayarak Kayıt Yap <br> Veya <br> El ile Kimlik Numarası Gir</p>
      </ion-card-title>
      <ion-item>
          <ion-label position="stacked">Kimlik Numarası</ion-label>
          <ion-input [(ngModel)]="this.KimlikNo"></ion-input>
        </ion-item>
      <ion-button (click)="barcodeScan()">Barkod Tarat</ion-button>
      <ion-button (click)="this.registerPassenger()">Kayıt Yap</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>
