<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button> <ion-icon name="menu"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button style="height: 50px; width:50px; background:transparent;"></ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Araçlar'da Ara"></ion-searchbar>
    </ion-toolbar>
    
    <ion-fab edge vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPage()">
            <ion-icon ios="ios-add" md="md-add" style="font-size: 30pt"></ion-icon> 
          </ion-fab-button>
      </ion-fab> 
</ion-header>


<ion-content id="arac_list_content" padding>


<!--     <ion-card (click)="openModal(Personels[1])" *ngFor="let item of [].constructor(5)">
        <ion-item lines="none">
            <ion-thumbnail slot="start">
              <ion-img class="personal_img" src="assets/img/qfPwiEuWQQqE9QhKM7RG_WIN_20190522_13_36_14_Pro.jpg"></ion-img>
            </ion-thumbnail>
          <ion-label>Kaan Salı<ion-card-subtitle>Yönetici</ion-card-subtitle></ion-label>
          <ion-icon size="small" name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-card>   -->

 
    <ion-card *ngFor="let Arac of Araclar" (click)="openModal(Arac)">
      <ion-item lines="none" style="margin: 10px 0px; --padding-start: 14px; --inner-padding-end: 10px;">
        <ion-thumbnail slot="start" style="    height: 70px; width: 100px;">
          <ion-img style="height: 100%; width: 100%;  border-radius: var(--image-border-radius) !important;" src="{{this.helper.SITE_URL}}{{Arac.AracFotograflari.On}}"></ion-img>
        </ion-thumbnail>
        <ion-label>
            <ion-card-subtitle>{{Arac.AracInfo.Marka}}</ion-card-subtitle>
            <ion-card-subtitle>{{Arac.AracInfo.Model}}</ion-card-subtitle>
            <ion-card-subtitle>{{Arac.AracInfo.Plaka}}</ion-card-subtitle>
        </ion-label>
        <ion-icon size="small" name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-card>

</ion-content> 
