<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button> <ion-icon name="menu"></ion-icon></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button style="height: 50px; width:50px; background:transparent;"></ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Araçlar'da Ara"></ion-searchbar>
    </ion-toolbar>
    
    <ion-fab edge vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPage()">
            <ion-icon ios="ios-add" md="md-add" style="font-size: 30pt"></ion-icon> 
          </ion-fab-button>
      </ion-fab> 
</ion-header>


<ion-content padding>


<!--     <ion-card (click)="openModal(Personels[1])" *ngFor="let item of [].constructor(5)">
        <ion-item lines="none">
            <ion-thumbnail slot="start">
              <ion-img class="personal_img" src="assets/img/qfPwiEuWQQqE9QhKM7RG_WIN_20190522_13_36_14_Pro.jpg"></ion-img>
            </ion-thumbnail>
          <ion-label>Kaan Salı<ion-card-subtitle>Yönetici</ion-card-subtitle></ion-label>
          <ion-icon size="small" name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-card>   -->

 
    <ion-card *ngFor="let Arac of Araclar" (click)="openModal(Arac)">
        <ion-card-header>
          <ion-img style="height: 100px; border-radius: 20%!important;" src="{{this.helper.SITE_URL}}{{Arac.On}}"></ion-img>
          <ion-card-title>{{Arac.Marka}} {{Arac.Model}}</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content> 
